<h1>Welcome to Luke's Image Repo!</h1>

<h3><%= link_to "Click Here To See The Image Database!", "/images" %></h3>

<% if !current_user %>
  <section class='login'>
    <p>Please Log In or Register!</p>
    <p><%= link_to 'Log In', login_path %></p>
    <p><%= link_to 'Register', registration_path %></p>
  </section>
  <% else %>
  <section class='logged_in'>
    <p>You're logged in <%= current_user.name%>!</p>
  </section>
<% end %>

<h3>Check Out All The Images We Have So Far:</h3>
<p>(Have all the images broken?  Well Shoot!  Heroku only stores the actual image for 24 hours, so help this space look cooler by registering and adding your own!)</p>
<% @images.each do |image| %>
  <% if !image.image.nil? %>
    <a href="<%= "/images/#{image.id}" %>"><%= image_tag(image.image, alt: "#{image.body}", style:'width:10%') if image.image.attached? %></a>
  <% end %>
<% end %>
