<h1>Edit Image</h1>

<%= form_for @image, method: :patch do |f| %>
  <%= f.label :keyword %>
  <%= f.text_field :keyword %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.submit 'Submit' %>
<% end %>
