<p id="notice"><%= notice %></p>

<h1>The Image Repo!</h1>

<%= render "shared/image_results" %>

<br>

<% if !current_user %>
  <section class='login'>
    <p>Please <%= link_to 'Log In', login_path %> or <%= link_to 'Register', registration_path %> if you'd like to Upload an Image!</p>
  </section>
<% else %>
  <section class='logged_in'>
    <p><%= link_to 'Upload An Image', 'images/new' %></p>
  </section>
<% end %>
