<!DOCTYPE html>
<html>
  <head>
    <title>ShopifyImageRepo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Register', registration_path unless current_user %>
      <%= link_to 'Log In', login_path unless current_user %>
      <% if current_user %>
        <%= link_to 'Log Out', logout_path %>
      <% end %>
      <%= form_tag "/images", method: :get do %> <%= text_field_tag :keywords %> <%= submit_tag "Search By Keyword", class: :button %>
      <% end %>
    </nav>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
